module.exports = {
  apps: [
    {
      name: "teebot",
      script: "index.js",
      time: true,
      cwd: "/var/app/teebot/current/",
      /* If PM2 not running on wanted Node.js version: */
      // interpreter: "/bin/node",
      env: {
        NODE_ENV: "development",
      },
      env_production: {
        NODE_ENV: "production",
      },
    },
  ],
};
